.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F5F5DC; /* Light Beige */
    /* background-image: url('C:\Users\shiva\OneDrive\Desktop\AI-agriculture\frontend\src\components\wheat-rice-field-daytime-norfolk-wallpaper.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    font-family: 'Arial', sans-serif;
  }
  
  
  /* .title {
    font-size: 2.5em;
    color: #5D4037;
    margin-bottom: 20px;
  }
   */
  .link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #efb60d;
    background-color: #882d17; /* Green */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .link:hover {
    background-color: #efb60d;
    color:black;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-text {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  .animated-container {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    font-family: 'Arial, sans-serif';
    color: #000000;
  }
  
  .responsive-image {
    max-width: 100%; /* Ensures the image scales down with the container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes extra space below the image */
    margin: 0 auto; /* Centers the image horizontally */
  }
  