/* formStyles.css */

.form-container {
    max-width: 900px;
    margin: 30px auto;
    display:block;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #F5F5DC;
    align-items: center;
    justify-content: center;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #5D4037;
    font-weight: bolder;
}

.form-container input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}
#form-button {
    font-family: inherit;
    margin-top: 20px;
    font-size: 18px;
    width: 50vh;
    background: linear-gradient(to bottom, rgb(105, 238, 105) 0%,#1dca62 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
 #form-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  #form-button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #form-button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  #form-button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  #form-button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  #form-button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  #form-button:hover svg {
    transform: rotate(45deg);
  }
  
  
